[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {riak_core, [
              {handoff_port,  {{ multi_release_port }} }
             ]
 },
 {kernel, [
           {sync_nodes_mandatory, [jtpg@n1, jtpg@n2, jtpg@n3, jtpg@n4, jtpg@n5]}
          ]
 }
].

