{lib_dirs, ["deps"]}.

{deps, [
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git",     {tag, "0.9.0"}}},
        {jsx,    ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
        {cpg,    ".*", {git, "https://github.com/okeuday/cpg.git",       {branch, "master"}}},
        {pmap,   ".*", {git, "https://github.com/AeroNotix/pmap.git",    {branch, "master"}}}
       ]}.
