{release, {jtpg, "0.0.1"},
 [
  jtpg
 ]}.

{extended_start_script, true}.

%% Use default relx paths when searching for Erlang apps
{default_libs, true}.
%% Use OTP libraries from default Erlang installation
{discover_exclude_system, false}.
%% Don't traverse _rel/ directory when searching for apps
{disable_discover_release_output, true}.
%% Don't look for release .rel files in search path dirs
{disable_rel_discovery, true}.

{output_dir, "_rel"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {template, "files/vm_multi.args", "releases/\{\{rel_vsn\}\}/vm.args"},
  {template, "files/sys-multi.config", "releases/\{\{rel_vsn\}\}/sys.config"}]
}.
